<!-- <div class="row">



  <div *ngFor="let item of gifs" class="col-m3 col-sm-6">
    <div class="card mb-2 text-center bg-dark">


      <div class="card-body text-white">
        <p class="card-text">
          {{item.title}}
        </p>
      <img [src]="item.user.avatar_url" alt="avatar">

      </div>
    </div>
  </div>


</div> -->


<div style="text-align:center">
  <h1>
    Angular Three.js Example
  </h1>
  <div id="canvas-container">
    <!-- El lienzo de Three.js se insertará aquí -->
  </div>
</div>
